/*******************************************************
	CSS - Index - V1
*******************************************************/


/*******************************************************
	Grupos - G1 G2 G3
*******************************************************/

#G1, #G2, #G3 {
		height: 100vh;
}

#G2-Cont, #G3-Cont {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 110px 10%;
		padding: 0;
		background-color: rgba(0, 0, 0, 70%);
		border-radius: 20px;
}	
#Rodape {
		box-sizing: border-box;
		width: 100%;
		height: auto; 
		float: left;	
		margin: 0;
		padding: 30px 10%;
		background-color: #32CD32;
}

#RodL {
		width: 50%;
		float: left;
		text-align: left;
}

#RodR {
		width: 50%;
		float: left;
		color: #A9A9A9;
		text-align: right;
}

.TextoRod {
		width: 100%;
		float: left;
		color: #ffffff;
		font-size: 10pt;
		margin: 0;
		padding: 3px 0;
}

.SobreRod:hover {
		color: #C0C0C0;
}

.hr_Rod {
		width: 100%;
		border-color: white;
}
/*******************************************************
	Grupo 1
*******************************************************/

#G1 {
		position: relative;
		background-image: url("img_principal.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}
	
/*******************************************************
	Grupo 2
*******************************************************/

#G2 {
		position: relative;
		background-image: url("img_mit2.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;	
}

	/*******************************************************
		Botões
	*******************************************************/

	.btn-group {
			box-sizing: border-box;
			width: 100%;
			height: auto;
			float: left;
			text-align: center;
			margin: 0;
			padding: 0;
	}
	
	.btn {
			box-sizing: border-box;
			width: auto;
			height: auto;
			color: #FFFFFF;
			font-size: 20px;
			margin: 5px; 
			padding: 10px 25px;
			border: none;
			border-radius: 10px;	
			transition: 0.3s;
			cursor: pointer;
	}
	
	.btn:focus {
			outline-style: none;
	}

	/*******************************************************
		Estilos
	*******************************************************/
	
	/* Indigo */
	
	#btn-indigo {
			background-color: #59009C;
	}
	
	#btn-indigo:hover {
			background-color: #4B0082;
	}
	
	/* Green */
	
	#btn-green {
			background-color: #256208;
	}
	
	#btn-green:hover {
			background-color: #1C4A06;
	}
	
	/* Blue */
	
	#btn-blue {
			background-color: #0042DD;
	}
	
	#btn-blue:hover {
			background-color: #0033AA;
	}
	
	/* Pink */
	
	#btn-pink {
			background-color: #D16478;
	}
	
	#btn-pink:hover {
			background-color: #CB5067;
	}
	
	/* Cyan */
		
	#btn-cyan {
			background-color: #00B2B2;
	}
	
	#btn-cyan:hover {
			background-color: #008B8B;
	}
	
	/* Darkred */
	
	#btn-darkred {
			background-color: #D60F00;
	}
	
	#btn-darkred:hover {
			background-color: #9B0B00;
	}

/*******************************************************
	Grupo 3
*******************************************************/

#G3 {
		position: relative;
		background-image: url("img_mit2.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}